@using Zach_Blog.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log In";
}

<section class="s-content s-content--top-padding s-content--narrow">

    <div class="row narrow">
        <div class="col-full s-content__header">
            <h1 class="display-1 display-1--with-line-sep">Login and Enjoy!</h1>

        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
               
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="container">
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="col-md-10">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn tox-tbtn--bespoke" />
                        </div>
                    </div>

                </div>

            }
        </section>
    </div>
</div>

<br />


<div class="container">
    <div class="row">
        <div class="col-twelve" align="center">

            @Html.ActionLink("Register as a New User", "Register") |
            @Html.ActionLink("Forgot your password?", "ForgotPassword")

        </div>
        @*<div class="col-md-4">

                    @Html.ActionLink("Forgot your password?", "ForgotPassword")

            </div>*@
    </div>

    <div class="row">
        <div class="col-twelve" align="center">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>
</div>

<br/>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}