@using Zach_Blog.Models
@using PagedList;
@using PagedList.Mvc;

@model IPagedList<BlogPost>


<!--Page Header-->
<!-- s-header -->



<section data-animate="bounceIn" class="s-content s-content--top-padding s-content--narrow">
    <div class="row narrow">
        <div class="col-full s-content__header">
            <h1 class="display-1 display-1--with-line-sep">My Latest Posts!</h1>

        </div>
    </div>
</section>


<section class="s-featured">
    <div class="row">
        <div class="col-full">

            <div class="featured-slider featured" data-aos="zoom-in">

                @foreach (var blogpost in Model)
                {
                    
                    <div class="featured__slide">
                        <div class="entry">
                            
                            <div class="entry__background" style="background-image:url(@blogpost.ImagePath);"></div>
                              
                            <div class="entry__content">
                                @*<span class="entry__category"><a href="#0">Music</a></span>*@

                                <h1><a title="">@blogpost.Title</a></h1>

                                <div class="entry__info">
                                    <ul class="entry__meta">
                                        <li>@Html.ActionLink("By: Zach Pruitt", "Details", "Blog", new { id = blogpost.Slug}, new { })</li>
                                        <li>@blogpost.Created.ToString("MMM dd, yyyy")</li>
                                    </ul>
                                </div>
                            </div> <!-- end entry__content -->

                        </div> <!-- end entry -->     
                    </div>
                }
                <div class="featured__slide">
                    <div class="entry">

                        <div class="entry__background" style="background-image:url('/Images/featured-guitarman.jpg');"></div>

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Music</a></span>

                            <h1><a href="#0" title="">What Your Music Preference Says About You and Your Personality.</a></h1>

                            <div class="entry__info">
                                @*<a href="#0" class="entry__profile-pic">
                                    <img src="~/Images/user-05.jpg" />
                                </a>*@
                                <ul class="entry__meta">
                                    <li><a href="#0">Jonathan Smith</a></li>
                                    <li>June 02, 2018</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->
                </div> <!-- end featured__slide -->

                <div class="featured__slide">

                    <div class="entry">

                        <div class="entry__background" style="background-image:url('/Images/featured-watch.jpg');"></div>

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">Management</a></span>

                            <h1><a href="#0" title="">The Pomodoro Technique Really Works.</a></h1>

                            <div class="entry__info">
                                <a href="#0" class="entry__profile-pic">
                                    <img src="~/Images/user-03.jpg" />
                                </a>

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>June 13, 2018</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->

                </div> <!-- end featured__slide -->

                <div class="featured__slide">

                    <div class="entry">

                        <div class="entry__background" style="background-image:url('/Images/featured-beetle.jpg');"></div>

                        <div class="entry__content">
                            <span class="entry__category"><a href="#0">LifeStyle</a></span>

                            <h1><a href="#0" title="">The difference between Classics, Vintage & Antique Cars.</a></h1>

                            <div class="entry__info">
                                <a href="#0" class="entry__profile-pic">
                                    <img src="~/Images/user-03.jpg" />
                                </a>

                                <ul class="entry__meta">
                                    <li><a href="#0">John Doe</a></li>
                                    <li>June 12, 2018</li>
                                </ul>
                            </div>
                        </div> <!-- end entry__content -->

                    </div> <!-- end entry -->

                </div> <!-- end featured__slide -->

            </div> <!-- end featured -->

        </div> <!-- end col-full -->
    </div>
</section>


<!-- s-content
================================================== -->


<section>
    <div class="row pagination-wrap">
        <div class="col-full">
            <nav class="pgn" data-aos="fade-up">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </nav>
        </div>
    </div>
</section> <!-- end s-content -->
